body {
    background-color: #464646;
    color: whitesmoke;
    font-family:'Trebuchet MS', 'sans-serif';
}

p {
  font-style: normal;
  font-size: 20px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(189, 180, 89);
}

a:visited {
  color: white;
  text-decoration: none;
}

br {
  margin-top: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}